# Node
node_modules/

# Environment
.env
.env.local

# Frontend
Frontend/node_modules/
Frontend/.env

# Backend
Backend/node_modules/
Backend/.env

# IDE
.vscode/
.idea/


ex.txt

# Backend specific
logs/
*.log

# Frontend specific (Vite/React)
dist/
build/
*.local